<div>
    <h4 id="top5" style="text-align: left;"> Tìm kiếm của "{{key}}"
        <div class="float-right" id="sort">
            <a class="sort btn btn-outline-success " id="priceUp" role="button">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                Giá tăng
            </a>
            <a class="sort btn btn-outline-success " id="priceDown" role="button">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                Giá giảm
            </a>
            <a class="sort btn btn-outline-success" id="end_timeUp" role="button">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                Gần kết thúc
            </a>
            <a class="sort btn btn-outline-success" id="start_timeUp" role="button">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                Mới đăng
            </a>
        </div>
</div>

<hr class="my-4">

<div class="container">
    {{#if this.empty}}
    <div class="CSSTableGenerator">
        <table ID="myTable">
            <p> Không có dữ liệu.</p>
        </table>
    </div>
    {{else}}
    <div class="CSSTableGenerator">
        <table ID="myTable">
            <div class="card-body">
                <div class="row">
                    {{#each this.products}}
                    <div class="col-sm-3 card border-0 mb-3 shadow-sm h-100s">
                        <a style="color:black; text-decoration: none;" href="/category/{{name_category}}/{{id}}">
                            <img src="/imgs/sp/{{id}}/main.jpg" height="230px" alt="{{name}}" title="{{name}}"
                                class="card-img-top">
                            <div class="card-body">
                                <h6 id="nearlyFi" class="card-title">{{name}}</h6>
                                <p id="price">{{format current_price}}đ</p>
                                <small class="text-muted">
                                    <p id="nearlyFi" class="card-text">Người ra giá cao nhất: {{hideName full_name}}</p>
                                    {{#if instant_price}}
                                    <p id="nearlyFi" class="card-text now_price">Giá mua ngay: {{format instant_price}}đ
                                    </p>
                                    {{/if}}
                                    <p id="nearlyFi" class="card-text">Ngày đăng: {{start_date}}</p>
                                    <p id="nearlyFi" class="card-text">Thời điểm kết thúc: {{end_date}}</p>
                                    <p id="nearlyFi" class="card-text">Số lượt ra giá: {{auction_times}} </p>
                                </small>
                                <span class="my-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o checked"></span>
                                </span>
                            </div>
                        </a>
                        <a id="favorite" class="mb-0" href="/list/{{id}}">
                            {{#if isFavorite}}
                            <i class="heart fa fa-heart"></i>
                            {{else}}
                            <i class="heart fa fa-heart-o"></i>
                            {{/if}}
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </table>
        {{#if Paginate}}
        <nav aria-label="Page navigation" class="mt-10">
            <ul class="pagination justify-content-center">
                {{#if notMinPage}}
                <li class="page-item">
                    <a class="page-link" href="/category/search?page={{prev_value}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{/if}}
                {{#each page_numbers}}
                {{#if isCurrentPage}}
                <li class="page-item active"><a class="page-link" href="#">{{value}}</a></li>
                {{else}}
                <li class="page-item"><a class="page-link" href="/category/search?page={{value}}">{{value}}</a></li>
                {{/if}}
                {{/each}}
                {{#if notMaxPage}}
                <li class="page-item">
                    <a class="page-link" href="/category/search?page={{next_value}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
        {{/if}}
    </div>
</div>

{{#section 'js'}}

<script>
    if ($('title').text().indexOf('Result for ') != -1) {
        searchKey = $('title').text().substr(11);
        $('a.page-link').each(function () {
            $(this).prop('href', $(this).prop('href') + '&searchKey=' + searchKey)
        })
    }
</script>
<script>
    if ($('title').text().indexOf('Result for ') != -1) {
        searchKey = $('title').text().substr(11);
        $('a.sort').each(function () {
            $(this).prop('href', $(this).prop('href'))
        })
    }
</script>
<script>
    $('a.sort').each(function () {
        $(this).on('click', () => {
            searchKey = $('title').text().substr(11);
            window.location.replace(window.location.pathname + '?searchKey=' + searchKey + '&sortMode=' + $(this).prop('id'));
            return false;
        })
    })

</script>
{{/section}}