{{#section 'js'}}
<script>
    $('.carousel-item:first-child').addClass('active');
</script>
{{/section}}

<div>
    <h6 id="top5" style="text-align: left;">Được đấu giá nhiều nhất</h6>
</div>
<hr class="my-4">
<!--Carosel 5 sản phẩm hot nhất-->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        {{#each this.hot}}
        <div class="carousel-item">
            <img src="/imgs/sp/{{id}}/main.jpg" height="230" alt="{{name}}" title="{{name}}">
            <div class="carousel-caption text-left">
                <h3 style="color: black;">{{name}}</h3>
                <p style="color: black;">Giá: {{format current_price}}đ - Với {{auction_times}} lượt đấu giá</p>
                <a style="background-color: purple;" class="text-white btn btn-lg mb-4" href="/category/{{name_category}}/{{id}}" role="button">Đấu
                    giá ngay</a>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="">
    <!--Top 5 sản phần gần kết thúc-->
    <div>
        <h6 id="top5" style="text-align: left;">Gần kết thúc</h6>
    </div>
    <hr class="my-4">
    <div class="">
        <div class="card-deck">
            {{#each this.nearFinish}}
            <div class="card border-0 mr-auto shadow-sm">
                <a style="color:black; text-decoration: none;" href="/category/{{name_category}}/{{id}}">
                    <img src="/imgs/sp/{{id}}/main.jpg" height="230" alt="{{name}}" title="{{name}}">

                    <div class="card-body">
                        <h6 id="nearlyFi" class="card-title">{{name}}</h6>
                        <p id="price">{{format current_price}}</p>
                        <small class="text-muted">
                            <p id="nearlyFi" class="card-text">Người ra giá cao nhất: {{full_name}}</p>
                            {{#if instant_price}}
                            <p id="nearlyFi" class="card-text now_price">Giá mua ngay: {{format instant_price}}đ
                            </p>
                            {{/if}}
                            <p id="nearlyFi" class="card-text">Ngày đăng: {{start_date}}</p>
                            <p id="nearlyFi" class="card-text">Thời điểm kết thúc: {{end_date}}</p>
                            <p id="nearlyFi" class="card-text">Số lượt ra giá: {{auction_times}} </p>
                        </small>
                        <span class="my-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-o checked"></span>
                        </span>
                    </div>
                </a>
                <a id="favorite" class="mb-0" href="/watch_list/{{id}}">
                    {{#if isFavorite}}
                    <i class="heart fa fa-heart"></i>
                    {{else}}
                    <i class="heart fa fa-heart-o"></i>
                    {{/if}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <!--Top 5 sản phần có lượt đấu giá cao nhất-->
    <div>
        <h6 id="top5" style="text-align: left;">Giá cao nhất</h6>
    </div>
    <hr class="my-4">
    <div class="">
        <div class="card-deck">
            {{#each this.mostPrice}}
            <div class="card border-0 mr-auto mb-3 shadow-sm">
                <a style="color:black; text-decoration: none;" href="/category/{{name_category}}/{{id}}">
                    <img src="/imgs/sp/{{id}}/main.jpg" height="230" alt="{{name}}" title="{{name}}">
                    <div class="card-body">
                        <h6 id="nearlyFi" class="card-title">{{name}}</h6>
                        <p id="price">{{format current_price}}</p>
                        <small class="text-muted">
                            <p id="nearlyFi" class="card-text">Người ra giá cao nhất: {{full_name}}</p>
                            {{#if instant_price}}
                            <p id="nearlyFi" class="card-text now_price">Giá mua ngay: {{format instant_price}}đ
                            </p>
                            {{/if}}
                            <p id="nearlyFi" class="card-text">Ngày đăng: {{start_date}}</p>
                            <p id="nearlyFi" class="card-text">Thời điểm kết thúc: {{end_date}}</p>
                            <p id="nearlyFi" class="card-text">Số lượt ra giá: {{auction_times}} </p>
                        </small>
                        <span class="my-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-o checked"></span>
                        </span>
                    </div>
                </a>
                <a id="favorite" class="mb-0" href="/watch_list/{{id}}">
                    {{#if isFavorite}}
                    <i class="heart fa fa-heart"></i>
                    {{else}}
                    <i class="heart fa fa-heart-o"></i>
                    {{/if}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="text-right my-3">
        <a style="background-color: purple;" class="btn text-white" href="#" role="button">Đầu trang &raquo;</a>
    </div>
</div>