<div class="container-fluid px-5 mt-3">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex align-items-center border-right flex-column">
                <div class="card-img p-4 d-flex align-items-center justify-content-center" style="height: 400px;">
                    <img id="main-img" class="imgs" src="/imgs/sp/{{item.id}}/main.jpg">
                </div>
                <div id="sub-img-group" class="d-flex justify-content-between">
                    <div class="sub-img col-md-4 d-flex align-items-center">
                        <img src="/imgs/sp/{{item.id}}/main.jpg">
                    </div>
                    <div class="sub-img col-md-4 d-flex align-items-center">
                        <img class="align-center" src="/imgs/sp/{{item.id}}/1.jpg">
                    </div>
                    <div class="sub-img col-md-4 d-flex align-items-center">
                        <img class="align-center" src="/imgs/sp/{{item.id}}/2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right d-flex flex-column">
                <div class="card-body">
                    <h5 class="card-title m-0">{{item.name}}</h5>
                    <p class="card-text"><small class="text-muted">Thời điểm đăng
                            <span class="postTime font-italic">{{item.start_date}}</span></small></p>

                    <p class="mb-1">Giá hiện tại: <span id="recent-price"> {{item.current_price}} </span></p>
                    {{#if item.instant_price}}
                    <p class="mb-1">Giá mua ngay: <span id="buy-now"> {{item.instant_price}} </span></p>
                    {{/if}}
                    <span class="card-text bold">Thời điểm kết thúc </span><span
                        id="endDate">{{item.end_date}}</span><br><br>
                    {{!-- <span class="card-text bold">Đấu giá kết thúc sau </span><span id="countDown"></span><br><br> --}}
                </div>
                <div class="card-body">
                    <hr width="90%">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="POST" id="pform">
                                <input id="spinner" name="price" type="number" value={{item.min_price}}
                                    min={{item.min_price}} step={{item.step_price}}>
                                <input type="hidden" id="productId" name="productId" value="{{item.id}}">
                                <input type="hidden" id="userId" name="userId" value="4">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                                style="width:120px">
                                <i class="fa fa-gavel"></i> Đấu giá
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc chắn đấu giá sản phẩm với mức giá trên?
                                        </div>
                                        <div class="modal-footer justify-content-sm-around">
                                            <button type="button" class="btn btn-secondary" style="width: 100px;"
                                                data-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-danger" form="pform" style="width: 100px;">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- <button type="submit" class="btn btn-danger" form="pform" style="width: 120px;">
                                <i class="fa fa-gavel"></i> Đấu giá</button> --}}
                        </div>
                    </div>
                    <div class="row">
                        <hr width="90%">
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <div id="favorite">
                                <i class="heart fa fa-heart-o"></i>
                                <span class="ml-2">Yêu thích</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-danger" 
                            data-toggle="modal" data-target="#exampleModal1"style="width: 120px;">
                                Mua ngay
                            </button>
                            <form method="POST" id="iform" action="/instant">
                                <input type="hidden" id="productId" name="productId" value="{{item.id}}">
                                <input type="hidden" id="instant" name="instant" value="{{item.instant_price}}">
                                <input type="hidden" id="userId" name="userId" value="4">
                            </form>
                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Are you sure</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc muốn mua ngay sản phẩm này?
                                        </div>
                                        <div class="modal-footer justify-content-sm-around">
                                            <button type="button" class="btn btn-secondary" style="width: 100px;"
                                                data-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-danger" form="iform" style="width: 100px;">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="info col-md-3 d-flex align-content-stretch flex-wrap">
                <div class="card-body border-bottom">
                    <h6 class="card-title">Thông tin người bán</h6>
                    <span class="card-text">{{seller.full_name}}</span><br>
                    <span class="card-text">Rating: </span>
                    <b>{{seller.add_point}}/{{seller.minus_point}}</b>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Người đặt giá cao nhất hiện tại</h6>
                    <span class="card-text">Lê Văn Chí</span><br>
                    <span class="card-text">Rating: </span>
                    <b>8/10</b>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Thời điểm</th>
                <th scope="col">Người mua</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            {{#each history}}
            <tr>
                <th scope="row">{{BidId}}</th>
                <td>{{TimeFormat time}}</td>
                <td>{{hideName full_name}}</td>
                <td>{{price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h4 class="mt-5">SẢN PHẨM CÙNG LOẠI</h4>
    <div class="container">
        <div class="CSSTableGenerator">
            <table ID="myTable">
                <div class="card-body">
                    <div class="row">
                        {{#each rows}}
                        <div class="col-sm-3 card border-0 mb-3 shadow-sm h-100s">
                            <a style="color:black; text-decoration: none;" href="/category/{{catName}}/{{id}}">
                                <img src="/imgs/sp/{{id}}/main.jpg" alt="{{name}}" title="{{name}}"
                                    class="card-img-top">
                                <div class="card-body">
                                    <h6 id="nearlyFi" class="card-title">{{name}}</h6>
                                    <p id="price">{{price}}</p>
                                    <small class="text-muted">
                                        <p id="nearlyFi" class="card-text">Người ra giá cao nhất: Chí Phèo</p>
                                        {{#if instant_price}}
                                        <p id="nearlyFi" class="card-text now_price">Giá mua ngay: {{instant_price}}đ
                                        </p>
                                        {{/if}}
                                        <p id="nearlyFi" class="card-text">Ngày đăng: {{start_date}}</p>
                                        <p id="nearlyFi" class="card-text">Thời điểm kết thúc: {{end_date}}</p>
                                        <p id="nearlyFi" class="card-text">Số lượt ra giá: 300 </p>
                                    </small>
                                    <span class="my-2">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o checked"></span>
                                    </span>
                                </div>
                            </a>
                            <div id="favorite" class="mb-0">
                                <i class="heart fa fa-heart-o"></i>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </table>
        </div>
    </div>
    <h4 class="mt-5 mb-4">MÔ TẢ SẢN PHẨM</h4>
    <div class="card" style="font-size: 16px;">
        <div class="card-body">
            {{{item.detail}}}
        </div>
        <div class="card-footer">
            <a class="btn btn-success" href="/category/{{catName}}/{{item.id}}/editor">Edit</a>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-input-spinner@1.12.7/src/bootstrap-input-spinner.min.js"></script>
<script>
    $(".heart.fa").click(function () {
        $(this).toggleClass("fa-heart fa-heart-o");
    });
</script>
<script>
    //Bộ đếm ngày giờ
    var countDownDate = new Date();
    countDownDate.setHours(countDownDate.getHours() + 1);
    countDownDate.setDate(countDownDate.getDate() + 1);
    // cập nhập thời gian sau mỗi 1 giây
    var x = setInterval(function () {

        // Lấy thời gian hiện tại
        var now = new Date().getTime();

        // Lấy số thời gian chênh lệch
        var distance = countDownDate.getTime() - now;

        // Tính toán số ngày, giờ, phút, giây từ thời gian chênh lệch
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        var display = "";
        if (days > 0)
            display = display + days + " Ngày ";
        display = display + hours + " : " + minutes + " : " + seconds;
        // HIển thị chuỗi thời gian trong thẻ p
        document.getElementById("countDown").innerHTML = display;
        // Nếu thời gian kết thúc, hiển thị chuỗi thông báo
        if (distance < 0) {
            clearInterval(x);
        }
    }, 1000);
</script>
<script>
    //quantity button
    $("input[type='number']").inputSpinner();
</script>
<script>
    //select image
    var mainImg = document.getElementById('main-img');
    var subImgs = document.getElementById('sub-img-group').getElementsByClassName('sub-img');
    var i;
    subImgs[0].addEventListener('click', function () {
        mainImg.src = subImgs[0].getElementsByTagName('img')[0].src;
    });
    subImgs[1].addEventListener('click', function () {
        mainImg.src = subImgs[1].getElementsByTagName('img')[0].src;
    });
    subImgs[2].addEventListener('click', function () {
        mainImg.src = subImgs[2].getElementsByTagName('img')[0].src;
    });
</script>